*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
}
body{
    font-family:poppins,arial;
    background-color:hsl(0, 0%, 98%);
}
.wrapper{
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-auto-rows:minmax(50px,auto);
    width:90%;
    margin:auto;
    grid-gap:16px;
}
header{
    margin:20px 0;
    grid-column:1/13;
    grid-row:1/3;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
}
header h1, header h2, header p{
    text-align:center;
}
header h1{
    font-size:30px;
    color:#555;
    font-weight:200;
    margin-bottom:8px;
}
header h2{
    font-size:30px;
    color:hsl(234, 12%, 34%);
    margin:0 0 10px 0;
}
header p{
    color:hsl(234, 12%, 34%);
    font-weight:400;
    opacity:.4;
    line-height:1.4;
    font-size:13px;
    margin-top:10px;
}
article{
    background-color:#fff;
    border-radius:5px;
    padding:30px;
    box-shadow: 0px 3px 20px #ccc;
}
article h3{
    font-weight:600;
    font-size:18px;
    color:hsl(234, 12%, 34%);
}
article p{
    color:hsl(234, 12%, 34%);
    font-weight:400;
    opacity:.4;
    line-height:1.4;
    font-size:13px;
    margin:10px 0 20px;
}
.logo{
    display:flex;
    justify-content:flex-end;
    width:100%;
}

.supervisor{
    grid-column:1/5;
    grid-row:4/7;
    border-top:2px solid hsl(180, 62%, 55%)
}
.builder{
    grid-column:5/9;
    grid-row:3/6;
    border-top:2px solid hsl(0, 78%, 62%);
}
.karma{
    grid-column:5/9;
    grid-row:6/9;
    border-top:2px solid hsl(34, 97%, 64%)
}
.calculator{
    grid-column:9/13;
    grid-row:4/7;
    border-top:2px solid hsl(212, 86%, 64%)
}
footer{
    grid-column:1/13;
    grid-row:9/10;
    padding:10px 0
}
footer p{
    color:hsl(234, 12%, 34%);
    font-weight:400;
    opacity:.6;
    line-height:1.4;
    font-size:12px;
    text-align:center;
}
@media(max-width:900px){
    .logo img{
        width:50px;
    }
}
@media(max-width:991px){
    .supervisor, .builder, .karma, .calculator{
        grid-column:1/13;
        grid-row:auto;
    }

}
@media(max-width:450px){
    header h1,header h2{
        font-size:20px;
    }
    .logo img{
        width:40px;
    }
}