*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:hsl(0, 0%, 98%);
    font-family:poppins,arial;
}
:root{
    --main-txt-color:hsl(234, 12%, 34%);
}
header{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:50px 0;
    margin:auto;
    width:80%;
}
header h1{
    font-size:30px;
    color:hsl(234, 12%, 34%);
    font-weight:200;
    margin-bottom:0;
    text-align:center;
}
header h2{
    font-size:30px;
    color:hsl(234, 12%, 34%);
    font-weight:400;
    margin:10px 0 20px;
    text-align:center;
}
header p{
    width:50%;
    text-align:center;
    font-size:14px;
    color:hsl(229, 6%, 66%);
    font-weight:400;
    opacity:.7;
    line-height:1.4;
}
main{
    display:grid;
    width:90%;
    margin:auto;
    grid-template-columns:repeat(3,1fr);
    grid-auto-rows:minmax(30px,auto);
    grid-gap:1.4rem;
}
.supervisor{
    border-top:3px solid hsl(180, 62%, 55%);
}
.supervisor .logo img{
    filter:drop-shadow(0 0 8px hsl(180, 62%, 55%));
}
.builder{
    border-top:3px solid hsl(0, 78%, 62%);
}
.builder .logo img{
    filter:drop-shadow(0 0 8px hsl(0, 78%, 62%));
}
.karma{
    border-top:3px solid hsl(34, 97%, 64%);
}
.karma .logo img{
    filter:drop-shadow(0 0 8px hsl(34, 97%, 64%));
}
.calculator{
    border-top:3px solid hsl(212, 86%, 64%);
}
.calculator .logo img{
    filter:drop-shadow(0 0 8px hsl(212, 86%, 64%));
}
article{
    padding:30px;
    background-color:#fff;
    border-radius:4px;
    box-shadow: 1px 3px 7px #ccc;
}
article h3{
    color:hsl(234, 12%, 34%);
    margin-bottom:25px;
}
article p{
    font-size:14px;
    color:hsl(229, 6%, 66%);
    font-weight:400;
    opacity:.7;
    line-height:1.4;
    margin-bottom:30px;
}
.logo{
    display:flex;
    width:100%;
    justify-content:flex-end;
}
footer{
    display:flex;
    justify-content:center;
    margin-top:20px;
    padding:40px 0 20px;
    width:80%;
    margin:auto;
}
footer p{
    font-size:12px;
    color:hsl(229, 6%, 66%);
    font-weight:400;
    opacity:.7;
    line-height:1.4;
    text-align:center;
}
footer a{
    text-decoration:none;
    color:hsl(229, 6%, 66%);
    position:relative;
}
footer a::after{
    content:"";
    position:absolute;
    bottom:1px;
    left:50%;
    transform:translatex(-50%);
    background-color:hsl(229, 6%, 66%);
    height:1px;
    width:0%;
    transition:.5s ease;
}
footer a:hover::after{
    width:100%;
}
@media(max-width:991px){
    main{
        grid-template-columns:repeat(auto-fit,minmax(283px,1fr));
    }
}
@media(min-width:992px){
    .supervisor{
        grid-column:1/2;
        grid-row:2/4;
    }
    .builder{
        grid-column:2/3;
        grid-row:1/3;
    }
    .karma{
        grid-column:2/3;
        grid-row:3/5;
    }
    .calculator{
        grid-column:3/4;
        grid-row:2/4;
    }
}
@media(max-width:400px){
    header h1, header h2{
        font-size:25px;
    }
    header p{
        font-size:12px;
    }
}
@media (max-width:600px){
    header p{
        font-size:12px;
        width:100%;
    }
}